@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, lightgreen, cyan);
    background-size: 300% 300%;
    animation: gradientMove 5s infinite ease-in;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

header p {
    font-size: 36px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid black;
}

nav ul li a:hover {
    color: white;
    background-color: black;
    padding: 10px;
}
